<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient page</title>
</head>
<body>
<h2>{{ patient.name }} Info</h2>
<table style="border: 1px solid black">
    <tr>
        <td>
           Address
        </td>
        <td>
           {{ patient.address }}
        </td>
    </tr>
    <tr>
        <td>
           Sex
        </td>
        <td>
           {{ patient.sex }}
        </td>
    </tr>
    <tr>
        <td>
           Age
        </td>
        <td>
           {{ patient.age }}
        </td>
    </tr>
</table>
</body>
</html>