<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker compensation</title>
</head>
<body>
<h2>Compensation for: {{ worker }}</h2>
<table style="border: 1px solid black">
    {% for compensation in worker_compensation %}
        <tr>
            <td style="border: 1px solid black">
                {{ compensation.compensation_type }}
            </td>
            <td style="border: 1px solid black">
                {{ compensation.amount }}$
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td style="border: 1px solid black">SUM</td>
        <td style="border: 1px solid black"> {{ compensation_sum }}$ </td>
    </tr>
</table>
</body>
</html>